.no {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 3em;
    flex-direction: column;
    text-align: center;
  }