.no {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: black;
}

.no-h1 {
    color: white;
    font-size: 3em;
    flex-direction: column;
    text-align: center
}

.red-br{
    color: red;
    font-size: 3em;
    text-align: center;
}